/* all custom styles */
* {
    font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
}
.jumbotron {
    padding: 1px 0;
    margin: auto 0;
    color: whitesmoke;
    /* background-color: rgb(43, 98, 180); */
    background-color: #6495ed;
}

.row {
    height: 100vh; 
    width: 100%; 
}

h3 {
    font-size: 1.25rem;
}

h5 {
    font-size: 0.75rem;
}

.small-text {
    font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
    font-size: .75rem;
}